---
const props =  Astro.props
---

<a href={props.href} target="_blank" referrerpolicy="no-referrer" class="flex justify-center items-center hover:scale-110 transition-all ease-in-out gap-3 text-[15px] bg-white text-xs me-2 px-5 py-1.5 rounded dark:bg-gray-700 dark:text-gray-300">
  <slot />
</a>