<footer class="flex flex-col justify-center items-center gap-3 h-[60px] md:max-w-[700px]">
  <section class="text-[16px] font-light flex justify-center items-center gap-4">
    <a href="#sobremi">Sobre mí</a>
    <a href="mailto:meneses773@gmail.com">Contacto</a>
  </section>
  <section class="text-[10px] font-light">
    ©2024 Franco Meneses
  </section>
</footer>