<nav class="flex justify-between md:justify-center text-[14px] my-5 px-5 w-full md:gap-12 lg:gap-16 md:max-w-[700px] lg:max-w-[950px] md:text-[18px] text-white">
  <a class="hover:scale-105 transition-all ease-in-out font-medium" href="#sobremi">Sobre mí</a>
  <a class="hover:scale-105 transition-all ease-in-out font-medium" href="#experiencia">Experiencia</a>
  <a class="hover:scale-105 transition-all ease-in-out font-medium" href="#proyectos">Proyectos</a>
  <a class="hover:scale-105 transition-all ease-in-out font-medium" href="mailto:meneses773@gmail.com">Contacto</a>
</nav>